body {
    font-family:verdana;
}

h1 {
    color:rgb(36, 36, 36);
    text-align: center;
    background-color:rgba(174, 174, 174, 0.848);
}

p {
    color:rgb(36, 36, 36);
    text-align: left;
    background-color:rgb(174, 174, 174);
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
    margin: 40px;
}

a:link, a:visited {
    background-color: #434242;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
  }